[submodule "rabbitMQ-producer"]
	path = rabbitMQ-producer
	url = https://github.com/nitinkc/rabbitMQ-producer.git
[submodule "rabbitMQ-listener"]
	path = rabbitMQ-listener
	url = https://github.com/nitinkc/rabbitMQ-listener.git
[submodule "RabbitMQ-Configurer"]
	path = RabbitMQ-Configurer
	url = https://github.com/nitinkc/RabbitMQ-Configurer.git
[submodule "AsyncRestCalls"]
	path = AsyncRestCalls
	url = https://github.com/nitinkc/AsyncRestCalls.git
